html{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f5f5f5;
    margin: 0%;
}

p {
    margin: 2vw;
}

nav {
    background-color: black;
    color:black;
    padding: 1rem;
    border-width: 1vw;
    border-style: solid;
    border-color: black;
}

nav ul {
    list-style: disclosure-closed;
    text-align: initial;
    padding: 0px;
}

nav ul li{
    border-bottom: 1px solid white;
}


li.active {
    list-style: disclosure-open;
    text-decoration: underline;
}

.active {
    background-color:aliceblue;
    color: #333;
    padding: 0.5px;
}

nav a {
    text-decoration: none;
    margin: 2vw 1rem;
    padding: 10px;
    font-size: 1.2rem;
    display: block;
    color: #fff;
    text-align: center;
}

nav a:hover, nav a:focus {
    color: yellow;
    background-color:darksalmon;
}

a.button {
    text-decoration: none;
    color: white;
    background-color: dimgray;
    padding: 5px 15px;
    border-radius: 25px;
}

a.button:hover, a.button:focus{
    text-decoration: none;
    color: yellow;
    background-color: black;
    padding: 5px 15px;
    border-radius: 25px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    bottom: 0;
}

footer p {
    font-size: 0.5rem;
    line-height: 0.5rem;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 0rem;
    padding-top: 1rem;
}

section{
    padding: 0 ;
    margin: 0 ;
}

.gallery {
    display: grid;
    grid-template-columns: 90vw;
    justify-content: space-evenly;
    border-width: 2vw;
    padding: 2vw;
    border-color: burlywood;
    border-style: ridge;
    background-color: ghostwhite;
}

.photo{
    width: 100%;
    align-content: center;
}

.preview {
    width: 50vw;
    height: 50vw;
    text-align: center;
    position: relative;
    left: 25vw;
    align-content: center;
    border: 1px ridge burlywood;
    margin-bottom: 5vh;
    background-size: 100% 100%;
}

img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



@media all and (min-width: 600px) {
    nav ul {
        display: flex;
        justify-content: space-between;
    }

    nav ul li {
        align-self: center;
    }

    body{
        background-color: lightgrey;
    }

    .gallery {
        grid-template-columns: 45vw 45vw;
    }

    .photo:nth-child(3n){
        grid-column: 1 / span 2;
    }

    .preview {
        height: 20vw;
        width: 20vw;
        position: relative;
        bottom: 20vh;
        left: 75vw;
        margin-bottom: 0;
    }
}

@media all and (min-width: 1200px) {
    body{
        background-color: antiquewhite;
    }

    nav {
        width: 20vw;
        display: inline-block;
        vertical-align: top;
    }

    nav ul {
        display: block;
    }

    nav a {
        display: block;
    }

    section{
        display: inline-block; 
        width: 70vw;
    }

    .gallery {
        grid-template-columns: 30vw 30vw 30vw; 
    }

    .photo:nth-child(3n){
        grid-column: auto
    }

    .preview {
        height: 30vh;
        width: 30vh;
        position: relative;
        left: 50vw;
        bottom: 10vh;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: white;
    }
    h1 {
        color: white;
    }
}