html{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-width: 1vw;
    border-style: outset;
    border-color: black;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1vh;
    margin: 2vw 1rem;
    font-size: 1.2rem;
    display: inline-block;
}

nav a:hover, nav a:focus {
    color: yellow;
    border: 0.5vh solid yellow;
    border-radius: 2vh;
    background-color: gray;
    padding: 0.5vh;
}

nav a.active {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: xx-small;
    line-height: 0px;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 0rem;
    padding-top: 1rem;
}

section{
    padding: 0 auto;
    margin: 0 auto;
}

@media all and (min-width: 600px) {
    body{
        background-color: antiquewhite;
    }

    nav {
        width: 20vw;
        display: inline-block;
        vertical-align: top;
    }

    nav a {
        display: block;
    }

    section{
        display: inline-block; 
        width: 70vw;
    }
}