
body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 32px;
    display: block;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family:Arial, sans-serif;
}

div {
    text-align: center;
    text-shadow: 1px 1px 2px whitesmoke;
}

img{
  width:100%;
}

div img{
    width:150px;
    height: 150px;
    display:block;
    margin:auto;
}

footer {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 20px;
    border-top: 1px solid black;
    padding-top: 20px;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    font-family:Arial, sans-serif;
}

@media all and (min-width:772px) {

    div{
        display: inline-block;
        width: 45vw;
    }

    div img{
        max-height: 30vh
    }
}

@media all and (min-width:998px) {
    
    div{
        width: 30vw;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}
