
main {
		width: 95%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
	}


html, body {
	background-color: #ffffff;
}
body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #404040;
}
	
h1 {
	font-size: 3.5em;
	margin: 0;
	padding: 0;
}

h1, h2{
	text-align: center;
	text-transform: uppercase;
	color: rebeccapurple;
}

header {
	background-color: chartreuse;
}

 .column {
		width:300px;
		display: inline-block;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}